<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Edit User</title>
</head>
<body>
    <div layout:fragment="content">
        <form class="form-signin" th:action="@{/user/edit}" th:object="${user}" method="post">
            <h2 class="form-signin-heading">Edit your details</h2>
            
            <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address error</div>
                <div th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">companyName error</div>
                <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</div>
                <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div>
            </div>
            
            <input type="text" th:field="*{email}" class="form-control top" placeholder="Email" required="required" autofocus="autofocus"/>
            <input type="text" th:field="*{address}" class="form-control middle" placeholder="Address"/>
            <input type="text" th:field="*{companyName}" class="form-control middle" placeholder="Company Name"/>
            <input type="text" th:field="*{firstName}" class="form-control middle" placeholder="First Name"/>
            <input type="text" th:field="*{lastName}" class="form-control bottom" placeholder="Last Name"/>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </form>
    </div>
</body>
</html>