<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Edit User</title>
</head>
<body>
    <div layout:fragment="content">
        <form class="form-signin" th:action="@{/user/edit}" th:object="${user}" method="post">
            <h2 class="form-signin-heading">Edit <span th:text="${user.userName}"></span> account</h2>
            
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger">Email error</div>

            <input type="text" th:field="*{email}" class="form-control top" placeholder="Email" required="required" autofocus="autofocus"/>
            <input type="text" th:field="*{address}" class="form-control middle" placeholder="Address"/>
            <input type="text" th:field="*{companyName}" class="form-control middle" placeholder="Company Name"/>
            <input type="text" th:field="*{firstName}" class="form-control middle" placeholder="First Name"/>
            <input type="text" th:field="*{lastName}" class="form-control bottom" placeholder="Last Name"/>
            <input type="hidden" th:field="*{userName}"/>
            <input type="hidden" th:field="*{id}"/>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            
            <p class="alert alert-success" th:if="${#httpServletRequest.getParameter('updated')}">You changes have been saved</p>
        </form>
            
        <form class="form-signin" method="post" enctype="multipart/form-data" th:action="@{/user/upload}">
            <h2>Upload profile picture <img th:src="@{/user/profile-picture}"/></h2>
            <input type="file" name="file" class="form-control top"/>
            
            <input type="text" name="name" class="form-control bottom"/> 
            
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
        </form>
        <a th:href="@{/user/reset-password}">Change Password</a>
        
        
    </div>
</body>
</html>