<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>LOGIN</title>
</head>
<body>
    <div layout:fragment="content">

        <form class="form-signin" th:action="@{/login}" action="/login" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <p th:if="${param.logout}" class="alert">You have been logged out</p>
            <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
            <label for="inputEmail" class="sr-only">Email address</label> <input type="text" id="inputEmail" name="username" class="form-control top" placeholder="Username" required="required" autofocus="autofocus"/>
            <label for="inputPassword" class="sr-only">Password</label> <input type="password" id="inputPassword" name="password" class="form-control bottom" placeholder="Password" required="required"/>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="_spring_security_remember_me"/> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>


    </div>
</body>
</html>