<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout">
<head>
<title>LOGIN</title>
</head>
<body>
    <div layout:fragment="content">
    
    
            <form th:action="@{/login}" action="/login" method="post">

                <h1>Member Login</h1>

                <div class="login-fields">

                    <p>Please provide your details</p>
                    <p th:if="${param.logout}" class="alert">You have been logged out</p>
                    <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
                    
                    <div class="field">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" />
                    </div>
                    <!-- /field -->

                    <div class="field">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field" />
                    </div>
                    <!-- /password -->

                </div>
                <!-- /login-fields -->

                <div class="login-actions">

                    <span class="login-checkbox">
                        <input id="Field" name="_spring_security_remember_me" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
                        <label class="choice" for="Field">Keep me signed in</label>
                    </span>

                    <button class="button btn btn-success btn-large">Sign In</button>

                </div>
                <!-- .actions -->



            </form>

    </div>
</body>
</html>