<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/no-menu}">
    <head>
        <title>Permission Denied</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div layout:fragment="content" class="alert alert-warning">
            <h1>Permission Error</h1>
            <h2>You do not have access to this section of the website</h2>
        </div>
    </body>
</html>
