<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>REGISTER</title>
</head>
<body>
    <div layout:fragment="content">
        <form class="form-signin" th:action="@{/user/register}" th:object="${user}" action="/user/register" method="post">
            <h2 class="form-signin-heading">Please register</h2>
            
            <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username error</div>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
            </div>
            
            <input type="text" id="inputEmail" name="email" class="form-control top" placeholder="Email" required="required" autofocus="autofocus"/>
            <input type="text" id="inputUser" name="userName" class="form-control middle" placeholder="Username" required="required"/>
            <input type="password" id="inputPassword" name="password" class="form-control bottom" placeholder="Password" required="required"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
</body>
</html>