<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>REGISTER</title>
</head>
<body>

    <div layout:fragment="content">

        <h2>register with Username and Password</h2>

        <p th:if="${formErrors}" th:text="${formErrors}" class="alert"></p>

        <p th:if="${formErrors}" th:each="error : ${formErrors}" th:text="${error.defaultMessage}" class="alert"></p>

        <form name="form" id="form" th:action="@{/user/register}" action="/user/register" method="POST">
            <fieldset>
                <input type="text" name="email" value="" placeholder="email" />
                <input type="text" name="userName" value="" placeholder="name" />
                <input type="password" name="password" placeholder="Password" />
            </fieldset>
            <input type="submit" id="login" value="Register" class="btn btn-primary" />
        </form>

    </div>
</body>
</html>