<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/no-menu}">
<head>
<title>Password Change</title>
</head>
<body>
    <div layout:fragment="content">
        <form class="form-signin" th:action="@{/user/reset-password-change}" th:object="${userDto}" action="/user/reset-password-change" method="post">
            <h4 class="form-signin-heading">Please enter your new desired password</h4>
            
            <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                <div th:if="${#fields.hasErrors('activation')}" th:errors="*{activation}">Activation error</div>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
            </div>
            <input type="hidden" name="userName" th:value="${userName}"/>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="New Password" required="required"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>